    <link rel="stylesheet" href="{{ asset('build/footer.css') }}">

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="{{ asset('build/footer.js') }}"></script>

    {#<link rel="stylesheet" href="{{ asset('assets/style/NavbarAndFooter/footer.css') }}" />

    <footer id="Footer" class="page-footer">
        <div class="container">
            <div id="FooterContent" class="row">
                <div id="SocialMediaLinks" class="col s12">
                    <i class="fab fa-facebook fa-2x"></i>
                </div>
                <div class="col l2 s12">
                    <h5 class="white-text">Več</h5>
                    <ul>
                        <li class="footer-link-item">
                            <a class="grey-text text-lighten-3" href="#!">Pomoč</a>
                        </li>
                        <li class="footer-link-item">
                            <a class="grey-text text-lighten-3" href="#!">Prijavi napako</a>
                        </li>
                        <li class="footer-link-item">
                            <a class="grey-text text-lighten-3" href="#!">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Kratek opis</h5>
                    <p class="grey-text text-lighten-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley ...</p>
                </div>
            </div>
        </div>
        <div id="LineBreak"></div>
        <div class="container">
            <div id="CopyrightSection">
                <a href="https://en.wikipedia.org/wiki/Copyright">© 2019 Copyright</a>
            </div>
        </div>
    </footer>#}